<h2>Application "<%= app_name %>" could not be started</h2>

<p>Command:</p>

<pre>
<%= h exception.command.to_s %>
</pre>

<p>STDERR:</p>

<pre>
<%= h exception.stderr %>
</pre>

<p>STDOUT:</p>

<pre>
<%= h exception.stdout %>
</pre>

<p>ENV:</p>

<pre>
<%= h exception.env %>
</pre>
